/* CSS layout for FitBook Website
 * Authors: Kevin Lau-Fang, Eric Chung.
 *
 */
body { /*background: #333333;*/
	/*background: url(mainbg.jpg); ;*/
	background: url(/images/bg3.jpg) repeat fixed;
	margin: 0;
	padding: 0;
}

#masthead {
	width: 100%;
	background: url(/images/header_bg.jpg) no-repeat top center;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#filler {
	width: 700px;
	height: 20px;
}

#user_container {
	width: 700px;
	height: 50px; margin-left : auto;
	margin-right: auto;
	margin-left: auto;
}

#user_info {
	background: #172322;
	text-align: left;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	color: #FFF;
	line-height: 1.7em;
	list-style: none;
	margin: 0;
	padding: 5px 5px;
	width: 190px;
	height: 50px;
	float: right; margin-left : auto;
	margin-right: 0px;
	border: 1px solid #777;
	filter: alpha(opacity =   90);
	opacity: 0.7;
	margin-left: auto;
}

#user_info li {
	background: #172322;
	height: 50px;
	float: right;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	margin: 0;
	padding: 0;
}

#user_info a {
	color: #ccc;
	text-decoration: none;
	font-weight: normal;
}

#user_info a:hover {
	color: #fff;
}

#top_menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 700px;
	height: 30px;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

#top_menu li {
	float: right;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	margin: 0;
	padding: 0;
}

#top_menu a {
	/* background: #333 url("seperator.gif") bottom right no-repeat;*/
	background: #172322;
	color: #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: normal;
}

#top_menu a:hover { /* background: #99b910; */
	color: #fff;
	padding-bottom: 8px;
	border-bottom: 1px solid #99b910;
}

table {
	border-collapse: collapse;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: small;
	color: #FFF;
}

.col1 {
	width: 100%;
	padding: 15px 20px;
	font-size: small;
	float: center;
	color: #eee;
}

.col1 a {
	color: #FFF;
	background-color: transparent
}

.col1 h1 {
	background: url(/images/green-bullet.jpg) no-repeat left center;
	width: 100%;
	font-variant: small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: x-large;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
	/*border-top: 1px solid #FFF;*/
	/*filter: alpha(opacity = 90);
	opacity: .9;*/
}

.col1_calendar {
	width: 690px;
	padding: 15px 20px;
	font-size: small;
	float: center;
	color: #eee;
}

.col1_calendar a {
	color: #FFF;
	background-color: transparent
}

.col1_calendar h1 { 
	width: 100%;
	font-variant: small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: x-large;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
	/*border-top: 1px solid #FFF;*/
	/*filter: alpha(opacity = 90);
	opacity: .9;*/
}

.col2_calendar {
	width: 150px;
	padding: 15px 20px;
	font-size: small;
	color: #eee;
}

.col2_calendar a {
	color: #FFF;
	background-color: transparent
}

.col2_calendar h1 { 
	width: 100%;
	font-variant: small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: x-large;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #FFF;
}

.col3_calendar {
	width: 550px;
	padding: 15px 20px;
	font-size: small;
	float: center;
	color: #eee;
}

.col3_calendar a {
	color: #FFF;
	background-color: transparent
}

.col3_calendar h1 { 
	width: 100%;
	font-variant: small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: x-large;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #FFF;
	/*filter: alpha(opacity = 90);
	opacity: .9;*/
}

#page_content {
	width: 700px;
	vertical-align: top;
	min-height: 700px;
	margin-left: auto;
	margin-right: auto;
	font: "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	background-color: #000;
	border: 1px solid black;
	filter: alpha(opacity =   90);
	opacity: 0.6;
}

#footer {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	font-weight: normal;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	background-color: #000;
	border: 1px solid black;
	filter: alpha(opacity =   90);
	opacity: 0.6;
	color: #fff;
	clear: both;
	/*border: 1px solid #777;*/
}

#footer p {
	margin: 0px 20px;
	text-align: center;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 1.7em;
}

.innerBox {
	padding: 8px 12px;
	margin: 0px;
}

.roundcont { /* width: 400px; */
	width: 620px;
	background-color: #172322;
	border-radius: 20px;
	padding: 0px 20px;
	/*filter: alpha(opacity = 90);
	opacity: 0.6;*/
}

.roundcont a {
	color: #99b910;
	text-decoration: none;
	font-weight: normal;
}

.roundcont a:hover {
	color: #fff;
}

.roundcont p {
	margin: 0 10px;
	/*font: 95% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;*/
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 1.7em;
}

.roundtop {
	background: url(/images/topr.gif) no-repeat top right;
}

.roundbottom {
	background: url(/images/bottomr.gif) no-repeat top right;
}


.roundcont_calendar { /* width: 400px; */

	background-color: #172322;
	border-radius: 20px;
	padding: 0px 0px;
}

.roundcont_calendar a {
	color: #99b910;
	text-decoration: none;
	font-weight: normal;
}

.roundcont_calendar a:hover {
	color: #fff;
}

.roundcont_calendar p {
	margin: 0 10px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 1.7em;
}

.roundtop_calendar {
	background: url(/images/topr.gif) no-repeat top right;
}

.roundbottom_calendar {
	background: url(/images/bottomr.gif) no-repeat top right;
}

.roundcont_2 { /* width: 400px; */
	width: 165px;
	height: 150px;
	float: top;
	background-color: #172322;
	border-radius: 20px;
	padding: 0px 20px;
	/*filter: alpha(opacity = 90);
	opacity: 0.6;*/
}

.roundcont_2 a {
	color: #99b910;
	text-decoration: none;
	font-weight: normal;
}

.roundcont_2 a:hover {
	color: #fff;
}

.roundcont_2 p {
	margin: 0 10px;
	/*font: 95% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;*/
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 1.7em;
}

.roundtop_2 {
	background: url(/images/topr.gif) no-repeat top right;
}

.roundbottom_2 {
	background: url(/images/bottomr.gif) no-repeat top right;
}

.roundcont_3 { /* width: 400px; */
	width: 373;
	background-color: #172322;
	border-radius: 20px;
	padding: 0px 20px;
	/*filter: alpha(opacity = 90);
	opacity: 0.6;*/
}

.roundcont_3 a {
	color: #99b910;
	text-decoration: none;
	font-weight: normal;
}

.roundcont_3 a:hover {
	color: #fff;
}

.roundcont_3 p {
	margin: 0 10px;
	/*font: 95% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;*/
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 1.7em;
}

.roundtop_3 {
	background: url(/images/topr.gif) no-repeat top right;
}

.roundbottom_3 {
	background: url(/images/bottomr.gif) no-repeat top right;
}

img.corner {
	width: 15px;
	height: 15px;
	border: none;
	display: block !important;
}

blockquote {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	line-height: 1.7em;
	width: 620px;
	margin: 0px;
	padding: 10px;
	quotes: "\201C" "\201D";
}

blockquote:before {
	content: open-quote;
	font-weight: bold;
}

blockquote:after {
	content: close-quote;
	font-weight: bold;
}