<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>com.commands.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>com.commands.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InputWorkout</servlet-name>
		<servlet-class>com.db.InputWorkoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputWorkout</servlet-name>
		<url-pattern>/inputWorkout</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/athlete/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>